@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
         body{
         background-color: black;
         color:white;
         font-family: 'Prompt', sans-serif;
         }
         .section{
         background-color:green;
         border: 5px solid white;
         margin:0 auto;
         padding-bottom:3rem;
         text-align:center;
         }
         .label{
         font-weight:bold;
         font-size:larger;
         }
         #output table, th, td {
         padding: 0.2rem;
         width:30rem;
         border: 2px solid white;
         border-collapse: collapse;
         margin:0 auto;
         text-align:center;
         }
       .cashGivenInput{
           display:none;
       }
       .changeReturn{
         display:none;
       }